# Django
TEST=false
DOCS=true
DEBUG=true
SECRET_KEY='tutancamonf9w%b64z6^t)z-2$p2s+z!y2bh(_d%damh7gl%)h3btemaq2ouelrey'
STATIC_URL=/static/
MEDIA_URL=/media/
ALLOWED_HOSTS=dev.api.d-packagebackend.com
COOKIE_DOMAIN=.d-packagebackend.com
SSL=false
THROTTLE_RATE_TIME=1000/hour

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=package
DATABASE_URL=psql://postgres:postgres@postgres:5432/package

# Email
ADMIN_NAME=
ADMIN_EMAIL=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Celery
CACHE=redis:6379
BROKER_URL=redis://redis:6379

# Google maps
MAPS_GOOGLE_MAPS_API_KEY=AIzaSyBnEqTe_G75fGf7xb3_RHHzOrHCrPUzRGU
